<div class="container-fluid">
    <h1><%=title %></h1>
    <hi style="font-size: 40px;"><br>Aqeish Parvez<br></hi>
    <img src="/content/img/Potrait.jpg" alt="Potrait" width="400" height="400">
    <p aria-setsize="8"><br>
        I am a software developer and am currently doing a two-year advanced diploma in software engineering technology. A summary of my qualifications is as follows:
        <br>1. Knowledge of Java, C#, Software Systems Design, Mobile Apps Development, Advanced Database Concepts, Data Structures and Algorithms
        <br>2. Experience in creating C# applications using object-oriented programming concepts including data abstraction, inheritance and polymorphism
        <br>3. Experience in developing advanced SQL queries, PLSQL, data and table manipulation commands and performing NoSQL document management, CRUD operations, data queries, indexing and aggregation techniques in RDBMS and NoSQL driven systems
        <br>4. Experience in developing component-based applications and establishing database connectivity using Java
        <br>5. Experience in creating complex GUI applications, interacting with databases using JDBC and utilizing Java collections framework
        <br>6. Created software design specification document using iterative Agile methodology, UML diagraming and modeling tools, software engineering design principles, design patterns, software architecture, software interfaces, software components, database and user interfaces in context of web and mobile apps
        <br>7. Created advanced graphical user interfaces, handled events, accessed remote services, stored and retrieved data on device, displayed maps and used other Android APIs to develop and deploy mobile applications on Android platform using Android Studio
        <br>8. Analyzed, evaluated and applied data structures and algorithms for implementation of software system
        <br>9. Analyzed efficiency of algorithms using mathematical techniques, evaluated algorithm design and performed operations on data structures for implementation of software systems
        <br>10. 6 years of client services experience within financial services industry including account management support, administrative support, sales support and renewal operations
        <br>11. Bachelor of Public Administration majoring in marketing and two year diploma in computer sciences
        <br>12. Multilingual: Fluent in English, Urdu, Hindi and Punjabi
    <p>
    <hi><br>Please click on the link below to view/download my resume</hi>
    <a class="nav-link <%= (page=='about') ? 'active' : '' %>" aria-current="page" href="/content/docs/Resume.pdf" style="color:blue"><br>Resume<br><br><br></a>
</div>