<div class="container-fluid">
    <h1><%=title %></h1>

    <Comment Adding a row to have two columns. One that will hold the form where the user's message and email address go
            The other where the business card with my contact information and logo is. The code for these was copied from bootstrap
            The message form is not fully functional and just allows user to enter data that doesn't do anything
    ></Comment>

    <div class="row g-3">
        <div class="col">
            <div class="mb-3">
                <label for="labelEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="labelMessage" class="form-label">Type Your Message Below</label>
                <textarea class="form-control" id="inputMessage" rows="3"></textarea>
                <button class="btn btn-primary" onclick="submitFunction(inputMessage, inputEmail)" type="submit">Submit</button> 
                
                <Comment Temporary function to stub the submit button function for email message></Comment>
                <script>
                    function submitFunction(inputMessage, inputEmail){
                    document.getElementById("inputMessage").value = "Your message has been sent!";
                    document.getElementById("inputEmail").value = "";
                    }
                </script>

                <a class="btn btn-primary" href="/home" role="button">Return To Home Page</a>
            </div>
        </div>
        <br>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/content/img/Aqeish.gif" class="card-img-top" alt="Logo">
                <div class="card-body">
                <h5 class="card-title">Aqeish Parvez</h5>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Address: 41 Wilsongary Circle, Ajax, ON, L1T 0G6</li>
                <li class="list-group-item">Phone: (437) 246-5776</li>
                <li class="list-group-item">Email: aqeish.parvez@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
      
</div>
<br><br>