<div class="container-fluid">
    <h1><%=title %></h1>
    <Comment Adding welcome message and a button that takes user to the about page></Comment>
    <hi>Welcome to my software develoment portfolio!<br><br>Mission Statement: To develop software solutions for small businesses</hi>
    <hi><br><br>Please click the button below to find out more about me</hi>
    <br><br>
    <a class="btn btn-primary" href="/about" role="button">About Me</a>
</div>