<div class="container-fluid">
    <h1><%=title %></h1>
    <hi>Welcome to my web application development website!<br><br>Mission Statement: To develop web applications for small businesses</hi>
    <hi><br><br>Please click the link below to know find out more about me</hi>
    <a class="nav-link <%= (page=='about') ? 'active' : '' %>" aria-current="page" href="/about" style="color:blue"><br>About Me</a>
</div>