<div class="container-fluid">
    <h1><%=title %></h1>
    <Comment Adding three projects with a short description of what I did in those projects></Comment>
    <hi style="font-size: 40px;"><br>Banking Application<br></hi>
    <img src="/content/img/banking.png" class="img-thumbnail" alt="Banking App" width="600" height="400">
    <p aria-setsize="8"><br>
        Created a banking application in C# using classes, structs, interfaces, Enums, exception handling, event handling, inheritance, aggregation, composition, and data abstraction in Visual Studio to create accounts, make transactions and access transaction logs
    <p>

    <hi style="font-size: 40px;"><br>Hospital Database Management Application<br></hi>
    <img src="/content/img/hospital.jpeg" class="img-thumbnail" alt="Hopsital App" width="600" height="400">
    <p aria-setsize="8"><br>
        Created a mobile application in Android Studio using Room Persistence Library, MVVM pattern, entity, DAO, view model, repository, database, intents, and shared preferences that allowed nurses to login, add or edit patient and add record or view tests performed
    <p>
    
    <hi style="font-size: 40px;"><br>Android Messaging Application<br></hi>
    <img src="/content/img/messaging.gif" class="img-thumbnail" alt="Messaging App" width="600" height="400">
    <p aria-setsize="8"><br>
        Created a mobile application in Android Studio using content providers that allows user to add new contacts and send messages.
    <p>
    <br><br>

</div>