<div class="container-fluid">
    <h1><%=title %></h1>

    <Comment Adding the services I provide with inline images></Comment>
    
    <p><br>
        I can help your business fulfil its software needs in the following areas:
        <br><img src="/content/img/mobileapps.png" class="img-thumbnail" alt="MobileApps" width="150" height="100"> 1. Mobile Application Development
        <br><img src="/content/img/webapps.jpeg" class="img-thumbnail" alt="WebApps" width="150" height="100"> 2. Web Application Development
        <br><img src="/content/img/programming.png" class="img-thumbnail" alt="Programming" width="150" height="100"> 3. General Programming in C# or Java
        <br><img src="/content/img/database.png" class="img-thumbnail" alt="Database" width="150" height="100"> 4. Database Management
        <br><br>
    <p>

</div>